@import '@nativescript/theme/core';
@import '@nativescript/theme/default';

.home-panel {
    font-size: 20;
    margin: 15;
}

.legende_title {
    horizontal-align: center;
}

.legende {
    font-size: 18;
    horizontal-align: left;
}

label.med {
    font-size: 30%;
}

.btn {
    font-size: 18;
}

